body {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #666;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.name {
    align-self: center;
}
.btc-eth {
    font-size: 0.5em;
}
.yday {
    font-size: 0.6em;
    color: #aaa;
}


span {
    font-size: 0.8em;
    padding-left: 10px;
}
.plus {
    color: #00CC99;
}
.minus {
    color: #F24236;
}